body {
	width: 800px;
	color: #2d3c49;
	margin: 0 auto 0 auto;
	font-family: "Roboto", sans-serif;
}

img {
	max-width: 100%;
}

.container {
	width: 100%;
	margin: 20px 0 20px 0;
}

header {
	display: flex;
	border-bottom: 3px solid #7d97ad;
	text-transform: uppercase;
	justify-content: flex-end;
	position: relative;
}

.logo {
	position: absolute;
  	left: 0;
}

.info h1,
.info p {
	padding: 0;
	margin: 0;
}

.info h1 {
	font-weight: 100;
}

.picture {
	margin-top: 20px;
}

h2 {
	color: #7d97ad;
	font-size: 28px;
}

.item {
	width: 250px;
}

.item:nth-child(1),
.item:nth-child(2) {
	margin-right: 20px;
}

.items {
	display: flex;
	justify-content: center;
}

.item-header {
	text-align: center;
	font-weight: 800;
	font-size: 28px;
	line-height: 14px;
	text-transform: uppercase;
}

.item-link {
	font-size: 12px;
	font-weight: 800;
	text-align: center;
	line-height: 10px;
}

footer {
	border-top: 3px solid #7d97ad;
}

@media only screen and (max-width: 350px) {
	
	.logo {
		float: none;
		width: 100%;
	}

	.info {
		width: 100%;
	}

	.info h1,
	.info p {
		float: none;
		text-align: right;
	}

	.info h1 {
		font-size: 24px;
	}

	.item:nth-child(1) .item-header,
	.item:nth-child(2) .item-header {
		line-height: 24px;
	}

	header {
		min-height: 115px;
	}
}

@media only screen and (min-width: 350px) {
	
	header {
		height: 80px;
	}
}

@media only screen and (max-width: 500px) {
	
	.items {
		width: 100%;
		flex-wrap: wrap; 
	}

	body,
	.item, 
	.item a,
	.item p,
	.item img {
		width: 100%;
	}

	.item:nth-child(1),
	.item:nth-child(2) {
	margin-right: 0px;
	}
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
	
	.items {
		width: 100%;
		flex-wrap: wrap;
	}

	body,
	.item a,
	.item p,
	.item img {
		width: 100%;
	}

	.item {
		width: calc((100% - 40px)/2);
	}

	.item-header {
		font-size: 24px;
	}
}
